In [68]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
from sklearn import linear_model, neighbors
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import preprocessing
import matplotlib.pyplot as plt
import seaborn as sns

In [77]:
data2 = ('/Users/Beba/Documents/JupyterNotebooks/HR_comma_sep.csv')
hr_df = pd.read_csv(data2)

hr_df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [78]:
hr_df.isnull().sum() # love simulated datasets!

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
sales                    0
salary                   0
dtype: int64