In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
from sklearn import linear_model, neighbors
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import preprocessing
import matplotlib.pyplot as plt
import seaborn as sns

In [59]:
data = ('/Users/Beba/Documents/JupyterNotebooks/Reveal_EEO1_for_2016.csv')
diversity = pd.read_csv(data)

In [60]:
diversity.head()

   company  year    race gender                       job_category count
0  23andMe  2016  Latino   male  Executive/Senior officials & Mgrs     0
1  23andMe  2016  Latino   male         First/Mid officials & Mgrs     1
2  23andMe  2016  Latino   male                      Professionals     7
3  23andMe  2016  Latino   male                        Technicians     0
4  23andMe  2016  Latino   male                      Sales workers     0

In [61]:
diversity.drop('year',axis=1, inplace=True) # all years are 2016

In [65]:
diversity.dropna(axis=0, inplace=True)

In [66]:
diversity.isnull().sum()

company         0
race            0
gender          0
job_category    0
count           0
dtype: int64